#footer-size { // for the desktop version
  background-color: transparent;
  display: none;
}
footer {
  color: whitesmoke;
  background-color: forestgreen;
  font-size: 0.85em;
  text-align: center;
  z-index: 50;

  div.inline-block-center{
    display: inline-block; // for this to work the parent element has to set text-align to center
  }
  a {
    color: whitesmoke;
    text-decoration: underline;
  }
  div section {
    padding: 0 1em 1em;
    display: inline-block;
  }
  div#copy {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'sans-serif';
  }
}
