header {
  text-align: center;
  font-size: 1.3em;
  background-color: whitesmoke;
  border-bottom: 2px solid green;
  z-index: 60;
  color: green;

  p {
    width: 100%;
    padding: 5% 0.1em;
  }
  h1 {
    padding: 0.5em 0 0.2em;
  }
  time {
    display: block;
    font-weight: 300;
    height: 0; /*It gets its height with JavaScript*/
  }
  section {
    color: whitesmoke;
    background-color: forestgreen;
  }
}
