footer {
  text-align: center;
  font-family: "Latin Modern Mono", sans-serif;

  div.inline-block-center{
    display: inline-block; // for this to work the parent element has to set text-align: center
  }
  a {
    color: inherit;
  }
  div section {
    padding: 1.2em;
    display: inline-block;
  }
  div#copyright {
    font-family: 'sans-serif';
  }
}
