footer {
  text-align: center;
  font-family: "Latin Modern Mono", sans-serif;

  div.inline-block-center{
    //text-align: center;
  }
  a {
    //color: inherit;
  }
  .inline-block-center a {
    padding: 1.2em;
    display: inline-block;
  }
  div#copyright {
    font-family: 'sans-serif';
    margin-top: 70px;

    a {
      text-decoration: underline;
    }
  }
}
