header {
  color: white;
  font-size: 1.32em;
  background: {
    image: url(IMG_0986_small.JPG);
    size: cover;
    position: center;}

  #border {
    width: 2px;
    height: 100%;
    background-color: $initialize_color;
  }
  h1 {
    font-family: "Latin Modern Mono", sans-serif;
    padding: 0.5em 0 0;
    font-size: 2.5em;
    transition: transform 1000ms cubic-bezier(.07,.6,0,1) 200ms;
  }
  section {
    color: $initialize_color;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    transition: transform 700ms cubic-bezier(.07,.6,0,1) 1500ms;
  }
  p {
    padding: 5% 0.1em;
    font-style: italic;
    transition: transform 1200ms cubic-bezier(.07,.6,0,1) 1000ms;
  }
}

header > div {
  overflow: hidden;
}
header > div[content-visible="false"] {
  h1, section, p {
    transform: translateX(-100%);
  }
}
