main {
  .container {
    padding: 1em 5%;
  }
  #projectss {
    overflow-x: scroll;
    width: 100%;
    display: flex;
    flex-flow: row;
    background: {
      image: url(IMG_2648_small.JPG);
      position: center;}
    #signpost {
      margin-left: 10%;
      margin-right: 10%;
    }
    .presentation-item {
      transform: translateZ(0);
      will-change: transform;
      box-shadow: 0 1px 3px 0.3px #424242;
      transition: height 400ms cubic-bezier(.86,.13,.49,.93), width 400ms cubic-bezier(.86,.13,.49,.93), border-radius 400ms cubic-bezier(.86,.13,.49,.93);
      flex: none;
      overflow: hidden;
      background-color: #f9a72b;
      height: 35vh;
      width: 35vh;
      border-radius: 50%;
      margin-right: 10%;
      cursor: pointer;

      .wrapper {
        width: 90vh;
        height: 65vh;
        position: absolute;
      }
      .logo {
        transition: transform 400ms;
        margin: 4vh;
        height: 27vh;
        width: 27vh;
        display: inline-block;
      }
      .x-button {
        margin: 10px;
        position: absolute;
        height: 48px;
        right: 0;
        top: 0;
        cursor: pointer;
      }
      .small-link {
        display: block;
        margin-left: 10%;
        z-index: 105;
      }
      .presentation-heading {
        margin-left: 10%;
        z-index: 100;
      }
      .presentation-text {
        width: 80%;
        margin: 0 auto;
        text-align: justify;
      }
      .presentation-text, .presentation-heading, .small-link {
        opacity: 0;
        transition: opacity 400ms cubic-bezier(.86,0,.07,1);
      }
    }
    .presentation-item[extended="true"] {
      width: 90vh;
      height: 65vh;
      border-radius: 5px;
      transition: height 400ms cubic-bezier(.22,.61,.36,1), width 400ms cubic-bezier(.22,.61,.36,1), border-radius 400ms cubic-bezier(.22,.61,.36,1);
      cursor: default;

        .presentation-text, .presentation-heading {
          opacity: 1;
        }
        .small-link {
          opacity: 0.6;
        }
        .logo {
          transform: scale(1.2) translateX(5px) translateY(5px);
        }
    }
    .presentation-item[hack-applied="true"] {
      visibility: hidden;
      cursor: default;
    }
  }
}
