@media screen and (orientation: portrait) {
  @media screen and (min-height: 14cm) { // Use the same display-side-length as in _mediaLandscape
    body {
      font-size: 0.42cm;
    }
    div#container {  // For all subsites
      .container {
        padding: 1em 12%;
      }
    }

    main {
      .container {
        padding: 1em 12%;
      }
    }
  }

  @media screen and (min-height: 21cm) {
    body {
        font-size: 0.45cm;
    }

    main #projects {
      padding: 2em 12%;
      .section {
        border-radius: 0.3em;
      }
    }
  }

  @media screen and (min-height: 28cm) {
    body {
      font-size: 0.49cm;
    }
  }
}
