@media screen and (orientation: portrait) {
  @media screen and (min-width: 10cm) {
    body {
      font-size: 0.5cm;
    }
  }

  @media screen and (min-width: 14cm) {
    main {
      .container {
        padding: 0 12%;
      }

      #projects {
        padding: 2em 12%;

        .section {
          padding: 0 2em;
          border-radius: 0.3em;
        }
      }
    }
  }
}
