div#container {
  .container {
    padding: 1em 7%;
  }
  section{
    @extend header;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
}

header {
  background-color: $primary_color; // Because it formerly was transparent
}

pre {
  overflow: auto;
}
