// initialize fonts
$Raleway: "Raleway", sans-serif;

// initialize colors
$primary_color: #3f51b5;
$secondary_color: #4CAF50;
$initialize_color: whitesmoke;
$primary_text: #212121;
$secondary_text: #727272;
